<!doctype html>
<html lang="en">
<head>
    <title>Input Form</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script lang="text/javascript" src="/static/dynamic.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="input_whole_screen">
        <h1>Satellite Tracking</h1>
        <div id="input_container">
            <label for="latitude">Latitude:</label>
            <input type="text" id="latitude" name="latitude" placeholder="Enter a latitude">

            <label for="longitude">Longitude:</label>
            <input type="text" id="longitude" name="longitude" placeholder="Enter a longitude">
            
            <div class="buttons-container">
                <button type="button" onclick="submitCoordinates()">Submit</button>
                <button type="button" onclick="getUserLocation()">Search for satellites using current location</button>
            </div>

            <div id="modal">
                <span class="close-button" onclick="closeModal()">&times;</span>
                <div class="modal-content"></div>
            </div>
        </div>
    </div>
</body>
</html>